@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans";
}
.body{
    background-color: #F6F5F1;
}
.header{
    color: whitesmoke;
}
.bg__img{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    filter: brightness(0.6);
}
.navbar{
    background-color: rgba(19, 19, 19, 0.822);
    position: fixed;
    z-index: 1;
    top: 10px;
    width: 90%;
    margin: auto;
    border-radius: 10px;
}
.nav-item{
    font-size: .8rem;
}
.nav-link{
    font-family: "Philosopher";
}
.nav__icons{
    margin-right: 10px;
}
.banner__home{
    width: 85%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: auto;
}
.banner__subtitle{
    font-size: .8rem;
    font-family: "work sans";
    letter-spacing: .2rem;
    text-transform: uppercase;
    margin-bottom: 2%;
}
.banner__title{
    font-size: 1.7rem;
    font-family: "Philosopher";
    margin-bottom: 3%;
}
.banner__text{
    font-size: .7rem;
}
.flecha__button{
    position: fixed;
    width: 35px;
    height: 35px;
    background-color: #c08c59;
    bottom: 1.5rem;
    right: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(170, 103, 27, 0.13), 0 6px 20px 0 rgba(170, 103, 27, 0.11);
    z-index: 10;
}
.main__text{
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 5%;
}
.subtitle{
    font-family: "Philosopher";
    font-size: 1.5rem;
    margin-bottom: 5%;
    text-align: center;
}
.parraph{
    font-size: .8rem;
}
.extra__info{
    display: none;
}
.second{
    margin-top: 5%;
}
.main__content{
    margin: auto;
    width: 90%;
}
.third__content-img{
    width: 100%;
    height: 80%;
    border-radius: 15px;
    margin-bottom: 10%;
}
.footer{
    background-color: rgb(32, 32, 32);
    color: #F6F5F1;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
}
.footer__title{
    font-family: "Philosopher";
    font-size: 1rem;
}
.footer__subtitle{
    font-family: "Philosopher";
    font-size: .9rem;
    margin-bottom: 0;
}
.footer__parraph{
    font-size: .8rem;
}
.footer__icons{
    width: 20px;
}
.especies{
    margin: auto;
    width: 90%;
}
.especies__container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(../assets/carusel-home-uno.jpg);
    height: 30vh;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 25px;
    border-radius: 10px;
}
.especies__text{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    height: 30vh;
    color: whitesmoke;
}
.especies__title{
    font-family: "Philosopher";
}
.especies__description{
    margin: 0;
    font-size: 1rem;
}
.container-dos{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(../assets/carusel-home-dos.jpg);
}
.container-tres{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(../assets/carusel-home-tres.jpg);
    margin-bottom: 25%;
}
.ubicacion__container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(../assets/ubicacion.jpg);
    height: 40vh;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 25px;
}
.ubicacion__text{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    height: 40vh;
    color: whitesmoke;
}
.ubicacion__title{
    font-family: "Philosopher";
    font-size: 1.3rem;
    margin-bottom: 5px;
}
.ubicacion__description{
    margin: 0;
    font-size: .8rem;
}
.ubicacion__map{
    width: 100%;
    height: 30vh;
    margin-bottom: 10%;
}
.form{
    width: 80%;
    background-color: #F6F5F1;
    color: #242323;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 20%;
    margin-bottom: 30%;
    height: 60vh;
    border-radius: 10px;
    padding: 10px;
}
.form__title{
    text-align: center;
    font-family: "Philosopher";
    margin-top: 0;
    margin-bottom: 15px;
}
input{
    background-color: transparent;
    border-style: none;
    border-bottom: 1px solid saddlebrown;
}
label{
    font-size: .8rem;
    margin-top: 20px;
}
.contact__button{
    background-color: #c08c59;
    border-style: none;
    margin-top: 20px;
    border-radius: 8px;
    padding: 5px;
    color: whitesmoke;
    font-size: .8rem;
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .nav__logo{
        width: 150px;
    }
    .nav-item{
        font-size: 1.4rem;
    }
    .nav__icons{
        width: 26px;
        margin-right: 20px;
    }
    .flecha__button{
        width: 45px;
        height: 45px;
    }
    .banner__subtitle{
        font-size: 1.3rem;
    }
    .banner__title{
        font-size: 2.8rem;
    }
    .banner__text{
        font-size: 1.3rem;
    }
    .main__text{
        width: 70%;
        margin-top: 4%;
    }
    .subtitle{
        font-size: 2.5rem;
        margin-bottom: 6%;
    }
    .parraph{
        font-size: 1rem;
        text-align: left;
    }
    .extra__info{
        display: inherit;
        text-align: left;
    }
    .second{
        margin-bottom: 3%;
    }
    .main__content, .third{
        margin-top: 10%;
    }
    .main__content{
        width: 80%;
    }
    .footer{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .footer__title{
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
    .footer__subtitle{
        font-size: 1.2rem;
        margin-bottom: 0;
    }
    .footer__parraph{
        font-size: 1rem;
    }
    .footer__icons{
        width: 30px;
        margin-right: 10px;
    }
    .ubicacion__map{
        width: 100%;
        height: 40vh;
        margin-bottom: 10%;
    }
    .ubicacion__title{
        font-family: "Philosopher";
        font-size: 2rem;
        margin-bottom: 5px;
    }
    .ubicacion__description{
        margin: 0;
        font-size: 1.2rem;
    }
    .form{
        width: 70%;
        padding: 30px;
    }
    .form__title{
        font-size: 2.5rem;
    }
    label{
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
    .contact__button{
        background-color: #c08c59;
        border-style: none;
        margin-top: 20px;
        border-radius: 8px;
        padding: 5px;
        color: whitesmoke;
        font-size: 1.2rem;
    }
}
@media screen and (min-width: 1024px){
    .navbar{
        background-color: transparent;
    }
    .nav__icons{
        display: none;
    }
    .nav__logo{
        width: 150px;
    }
    .nav-item{
        font-size: 1.4rem;
        margin-right: 3%;
    }
    .flecha__button{
        width: 50px;
        height: 50px;
        bottom: 2.5rem;
        right: 2.5rem;
    }
    .banner__subtitle{
        font-size: 1.2rem;
        margin-bottom: 1%;
    }
    .banner__title{
        font-size: 3rem;
        margin-bottom: 2.5%;
    }
    .banner__text{
        font-size: 1.2rem;
    }
    .banner__home{
        width: 50%;
    }
    .main__text{
        width: 75%;
        margin-top: 5%;
        display: grid;
        grid-template-columns: 2fr 3fr;
    }
    .subtitle{
        font-size: 3rem;
        text-align: left;
    }
    .parraph{
        font-size: 1.2rem;
        text-align: left;
    }
    .extra__info{
        display: inherit;
    }
    .main__content, .third{
        margin-top: 15%;
        width: 75%;
    }
    .third__subtitle{
        margin-bottom: 15px;
    }
    .third__content-img{
        margin-top: 2%;
    }
    .especies__container{
        height: 50vh;
        border-radius: 20px;
    }
    .especies__text{
        height: 50vh;
    }
    .especies__title{
        font-size: 2.5rem;
    }
    .especies__description{
        font-size: 1.2rem;
    }
    .ubicacion__map{
        width: 100%;
        height: 50vh;
        margin-bottom: 10%;
    }
    .form{
        width: 60%;
        margin: auto;
        margin-top: 8%;
        margin-bottom: 20%;
        height: 60vh;
        padding: 35px;
    }
    .form__title{
        font-size: 2.5rem;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    label{
        font-size: 1.2rem;
    }
    textarea{
        height: 40px;
    }
    .contact__button{
        font-size: 1.2rem;
        color: whitesmoke;
    }
}